---
http_interactions:
- request:
    method: post
    uri: https://fiken.no/api/v1/companies/fiken-demo-festning-og-katt-as1/contacts
    body:
      encoding: UTF-8
      string: '{"name":"Agaon User"}'
    headers:
      Content-Type:
      - application/hal+json
  response:
    status:
      code: 201
      message: 
    headers:
      location:
      - https://fiken.no/api/v1/companies/fiken-demo-festning-og-katt-as1/contacts/307332848
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 28 Mar 2017 21:24:04 GMT
- request:
    method: get
    uri: https://fiken.no/api/v1/companies/fiken-demo-festning-og-katt-as1/contacts/307332848
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/hal+json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/hal+json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://fiken.no/api/v1/companies/fiken-demo-festning-og-katt-as1/contacts/307332848"}},"name":"Agaon
        User","address":{"country":"Norge"}}'
  recorded_at: Tue, 28 Mar 2017 21:24:04 GMT
recorded_with: VCR 3.0.3
